/* Default Color File  */




/* Color */
a:hover,
a {
    color: #0895af;
}

.scroll-to-top:hover,
.preloader-close,
.search-popup .search-form fieldset input[type="submit"] {
    background-color: #0895af;
}

.scroll-to-top {
    color: #0895af;
    border: 2px dashed #0895af;
}

.btn-style-one.style-two i {
    color: #0895af;
}

.btn-style-one.style-two:before {
    background: #0895af;
}

.btn-style-one.style-two:hover {
    border-color: #0895af;
}

.btn-style-one {
    background-color: #0895af;
}

.header-top .social-icon li a:hover {
    color: #0895af;
}

.main-menu .navigation>li>ul>li>a:hover {
    color: #0895af;
}

.main-menu .navigation>li>ul>li>ul>li>a:hover {
    color: #0895af;
}

.banner-section .banner-slider-button-next:hover {
    background-color: #0895af;
}

.banner-section .banner-slider-button-prev:hover {
    background-color: #0895af;
}

.btn-style-one.style-two:hover {
    border-color: #0895af;
    background-color: #0895af;
}

.btn-style-one.style-three:before {
    background-color: #0895af;
}

.btn-style-one.style-three:hover {
    background-color: #0895af;
}

.header-top .location i {
    color: #0895af;
}

.header-top ul.contact-info li i {
    color: #0895af;
}

.main-menu .navigation>li.current>a {
    color: #0895af;
}

.banner-section .banner-slider-button-next {
    color: #0895af;
    border: 2px dashed #0895af;
}

.banner-section .banner-slider-button-prev {
    color: #0895af;
    border: 2px dashed #0895af;
}

.banner-section .contact-number .number a {
    color: #0895af;
}

.banner-section .video-box a {
    color: #0895af;
}

.sec-title .sub-title {
    color: #0895af;
}

.sec-title .sub-title {
    color: #0895af;
}

.about-us-section .years-of-experience h4 {
    color: #0895af;
}
  
.service-block-one .icon {
    color: #0895af;
}

/*.service-block-one .icon:before {*/
/*    background-color: #0895af;*/
/*}*/

.service-block-one h4 a:hover {
    color: #0895af;
}

.video-section .video-btn a {
	background-color: #0895af;
}

.whychoose-us-section .icon-box .icon {
    color: #0895af;
}

.whychoose-us-section .icon-box .icon:before {
    background-color: #0895af;
}

.whychoose-us-section .icon-box h4 a:hover {
    color: #0895af;
}

.whychoose-us-section .phone {
    background: #0895af;
}

.testimonial-block .author-info .designation {
    color: #0895af;
}

.testimonials-section .owl-theme .owl-nav .owl-prev:hover:after,
.testimonials-section .owl-theme .owl-nav .owl-next:hover:after {
    color: #0895af;
}

.funfacts-section:before {
    background-color: #0895af;
}

.funfact-block-one .count-box {
    color: #0895af;
}

.news-block-one h4 a:hover {
    color: #0895af;
}

.newsletter-section h2 span {
    color: #0895af;
}

.about-widget .copyright a {
    color: #0895af;
}

.links-widget .list li a:hover {
    color: #0895af;
}

.contact-widget ul li a {
    color: #0895af;
}

.footer-bottom .social-icon li a:hover {
    background: #0895af;
}

.footer-menu li a:hover {
    color: #0895af;
}

.main-header .header-upper .location i {
    color: #0895af;
}

.process-block .count {
    background-color: #0895af;
}

.whychoose-us-section-two .icon-box .icon {
    color: #0895af;
}

.whychoose-us-section-two .icon-box .icon:before {
    background-color: #0895af;
}

.whychoose-us-section-two .icon-box h4 a:hover {
    color: #0895af;
}

.pricing-block .inner-box:before {
    background-color: #0895af;
}

.pricing-block .price {
    color: #0895af;
}

.pricing-block ul li:before {
    background-color: #0895af;
}

.team-blcok .social-icon li a:hover {
    background: #0895af;
    border-color: #0895af;
}

.cta-section .offer {
    color: #0895af;
}

.cta-section .offer h4 {
    color: #0895af;
}

.contact-info-section .icon {
    color: #0895af;
}

.contact-info-section .icon:before {
    background-color: #0895af;
}

.contact-info-section h4 {
    color: #0895af;
}

.about-us-section-two .offer {
    color: #0895af;
}

.about-us-section-two .offer h4 {
    color: #0895af;
}

.whychoose-us-section-three .icon-box .icon {
    color: #0895af;
}

.whychoose-us-section-three .icon-box .icon:before {
    background-color: #0895af;
}

.whychoose-us-section-three .icon-box h4 a:hover {
    color: #0895af;
}

.whychoose-us-section-three .video-btn a {
	background-color: #0895af;
}

.testimonial-block-two .author-info .designation {
    color: #0895af;
}

.gallery-section .filter-tabs li.active {
    background: #0895af;
    border-color: #0895af;
}

.gallery-block .zoom-btn {
    background: #0895af;
}

.contact-form-section .sec-title h2 span {
    color: #0895af;
}

.sidebar .categories ul li.active {
    background-color: #0895af;
}

.sidebar .categories ul li.active a {
    border-color: #0895af;
}

.offer-widget .image:before {
    background-color: #0895af;
}

.service-details .process-block-two .count {
    background: #0895af;
}

.page-pagination li.active a,
.page-pagination li a:hover {
	border-color: #0895af;
	background-color: #0895af;
}

.page-pagination li:last-child a:hover,
.page-pagination li:first-child a:hover {
	color: #0895af;
}

.comments-area .comment-box .reply-btn:hover{
	color: #0895af;
}

.blog-single-post blockquote .text {
    color: #0895af;
}









